.icon-accept {
	background-image: url(icons/accept.png) !important;
}
.icon-add {
	background-image: url(icons/add.png) !important;
}
.icon-door_out {
	background-image: url(icons/door_out.png) !important;
}
.icon-chart_curve {
	background-image: url(icons/chart_curve.png) !important;
}
.icon-chart_line {
	background-image: url(icons/chart_line.png) !important;
}
.icon-chart_pie {
	background-image: url(icons/chart_pie.png) !important;
}
.icon-user_add {
	background-image: url(icons/user_add.png) !important;
}
.icon-script_gear {
	background-image: url(icons/script_gear.png) !important;
}
.icon-user_edit {
	background-image: url(icons/user_edit.png) !important;
}
.icon-user_delete {
	background-image: url(icons/user_delete.png) !important;
}
.icon-user_green {
	background-image: url(icons/user_green.png) !important;
}
.icon-user_orange {
	background-image: url(icons/user_orange.png) !important;
}
.icon-user_suit {
	background-image: url(icons/user_suit.png) !important;
}
.icon-color_swatch {
	background-image: url(icons/color_swatch.png) !important;
}
.icon-calendar {
	background-image: url(icons/calendar.png) !important;
}
.icon-flag_red {
	background-image: url(icons/flag_red.png) !important;
}
.icon-flag_green {
	background-image: url(icons/flag_green.png) !important;
}
.icon-flag_blue {
	background-image: url(icons/flag_blue.png) !important;
}
.icon-controller {
	background-image: url(icons/controller.png) !important;
}
.icon-help {
	background-image: url(icons/help.png) !important;
}
.icon-palette {
	background-image: url(icons/palette.png) !important;
}
.icon-paste_plain {
	background-image: url(icons/paste_plain.png) !important;
}
.icon-paste_word {
	background-image: url(icons/paste_word.png) !important;
}
.icon-page_white_copy {
	background-image: url(icons/page_white_copy.png) !important;
}
.icon-cut {
	background-image: url(icons/cut.png) !important;
}
.icon-cancel {
	background-image: url(icons/cancel.png) !important;
}
.icon-cup_edit {
	background-image: url(icons/cup_edit.png) !important;
}
.icon-cup_delete {
	background-image: url(icons/cup_delete.png) !important;
}
.icon-disk {
	background-image: url(icons/disk.png) !important;
}
.icon-arrow_undo {
	background-image: url(icons/arrow_undo.png) !important;
}
.icon-vector_add {
	background-image: url(icons/vector_add.png) !important;
}
.icon-car_delete {
	background-image: url(icons/car_delete.png) !important;
}
.icon-car {
	background-image: url(icons/car.png) !important;
}
.icon-car_add {
	background-image: url(icons/car_add.png) !important;
}
.icon-cart_edit {
	background-image: url(icons/cart_edit.png) !important;
}
.icon-cart_put {
	background-image: url(icons/cart_put.png) !important;
}
.icon-cart_go {
	background-image: url(icons/cart_go.png) !important;
}
.icon-cart_add {
	background-image: url(icons/cart_add.png) !important;
}
.icon-cart_delete {
	background-image: url(icons/cart_delete.png) !important;
}
.icon-layout_edit {
	background-image: url(icons/layout_edit.png) !important;
}
.icon-link_add {
	background-image: url(icons/link_add.png) !important;
}
.icon-server_database {
	background-image: url(icons/server_database.png) !important;
}
